In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from glob import glob
%matplotlib inline
sns.set()

In [16]:
data_dir = r'..\data\raw\\'

df = pd.DataFrame()
initial_pos = []

for path, subdir, files in os.walk(data_dir):
    for file in glob(os.path.join(path, "*.csv")):
        df = pd.concat([df,pd.read_csv(file)],axis=0)
        df['path'] = path
        
df = df.reset_index(inplace=False)
df

,index,#exp,kn,gn,n_bed,d_int,d_bed,rho_int,rho_bed,freq,amp,zint_i,deg_i,E_pot,zint_f,deg_f,E_pot.1,path
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..\data\raw\\bottom_right
1,1,#0,1000.0,300.0,100.0,0.02,0.006,700.0,700.0,10.0,0.006,0.1742,180.0,0.0907,0.1570,173.0,0.0922,..\data\raw\\bottom_right
2,2,#1,1000.0,300.0,100.0,0.02,0.006,720.0,700.0,10.0,0.006,0.1741,178.0,0.0907,0.5260,167.0,0.0865,..\data\raw\\bottom_right
3,3,#2,1000.0,300.0,100.0,0.02,0.006,740.0,700.0,10.0,0.006,0.1741,179.0,0.0907,0.1601,163.0,0.0915,..\data\raw\\bottom_right
4,4,#3,1000.0,300.0,100.0,0.02,0.006,760.0,700.0,10.0,0.006,0.1740,178.0,0.0907,0.4176,164.0,0.0892,..\data\raw\\bottom_right
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,96,#95,1000.0,300.0,100.0,0.02,0.006,800.0,880.0,5.0,0.006,0.1437,176.0,0.0924,0.1590,194.0,0.0872,..\data\raw\\bottom_right
602,97,#96,1000.0,300.0,100.0,0.02,0.006,820.0,880.0,5.0,0.006,0.1437,176.0,0.0924,0.9192,201.0,0.0762,..\data\raw\\bottom_right
603,98,#97,1000.0,300.0,100.0,0.02,0.006,840.0,880.0,5.0,0.006,0.1437,176.0,0.0924,0.1873,213.0,0.0863,..\data\raw\\bottom_right
604,99,#98,1000.0,300.0,100.0,0.02,0.006,860.0,880.0,5.0,0.006,0.1436,176.0,0.0924,0.1715,197.0,0.0863,..\data\raw\\bottom_right
605,100,#99,1000.0,300.0,100.0,0.02,0.006,880.0,880.0,5.0,0.006,0.1436,176.0,0.0924,0.1795,193.0,0.0874,..\data\raw\\bottom_right